.input{
  width: 40%;
  border-radius: 8px;
  border: 2px solid rgb(17, 34, 30);
  padding: 10px 15px;
  box-shadow: 1px 3px 9px rgb($color: #20c997, $alpha: 1.0);
  // &:focus{
  //   outline:none;
  // }
  color: #002128;

}

.btn{
  box-shadow: 1px 3px 9px rgb($color: #20c997, $alpha: 1.0);
}
@media(max-width: 576px){
  .input{
    width: 80%
  }
}